PINECONE_API = pcsk_5oqyn1_Sifht6cZmi9Zc61fAuCMeXAM9P6qHCSfjyjVNnar1QKiHvusM2Xkn1GaYB9ztw4
AURA_URI = neo4j+s://ad728d35.databases.neo4j.io
AURA_USER = ad728d35
AURA_PASSWORD = p1BdvlyZNHH0I2eUzHts4tiJXS56Raz-8vuNY3Fvh6w
OLLAMA_API_KEY = 82e67f76357c4b009533b0918c63da6c.K1qoWKlE7D9Y7SLJPjviGWNw